
body {
    display: grid;
    grid-template-columns: 300px 300px 300px ;
    grid-template-rows: max-content max-content max-content ;
    grid-template-areas: 
        "GREEN GREEN GREEN"
        "YELLOW RED BLUE"
        "ORANGE ORANGE BLUE";
}

#GREEN {
    grid-area: GREEN;
}

#YELLOW {
    grid-area: YELLOW;
}

#ORANGE {
    grid-area: ORANGE;
}

#RED {
    grid-area: RED;
}

#BLUE {
    grid-area: BLUE;
}
 
ul {
    display: flex;
    flex-wrap: wrap;
}