@import url(../root.css);

body {
    background-color: var(--bg-color);
}

.ball {
    width: var(--width-ball);
    height: var(--height-ball);
    background-color: var(--bg-color-ball);
    border-radius: var(--br-ball);
}
